
.noSelect{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.table-hover{
    color: #fff; !important;
}

.list-group{
    background-color: #1F2933;
}

.list-group-item{
    background-color: #1F2933;
}

.list-group-flush{
    background-color: #1F2933;
}

.op0{
    opacity: 0;
}

.op25{
    opacity: 0.25;
}

.op50{
    opacity: 0.5;
}

.op75{
    opacity: 0.75;
}

.opFull{
    opacity: 1;
}


.backOp0{
    background: rgba(31,41,51,0);
}

.noTop{
    border-top: none; !important;
}

.noWrap{
    white-space: nowrap;
}

.padLeft{
    padding-left: 5%;
    padding-right: 5%;
}

.padRight{
    padding-left: 5%;
    padding-right: 5%;
}

.padBet{
    margin-bottom: 10%;
}

.dropdwn{
    position: relative;
    display: inline-block;
}

.dropdwnbtn{
    color: white;
    border: none;
}

.dropdownContent{
    margin-left: 5%;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    margin-top: -5%;
    border-color: silver;
    border-top: solid 1px;
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    border-radius: 15px;
}

.dropdownContent a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdwn:hover .dropdownContent{display: block;}

.listGroupHover:hover{
    background-color: #2C3E50;
}

.debug{
    border-color: red !important;
    border-top: solid 1px;
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
}

.debug2{
    border-color: orange !important;
    border-top: dashed 1px;
    border-right: dashed 1px;
    border-left: dashed 1px;
    border-bottom: dashed 1px;
}